@import '../../theme/default';

open-meeting-card {
  ion-card {
    padding: 0 !important;
    margin: 0 0 15px 0 !important;
    width: 100% !important;
    border-top: 1px solid color($colors, gray-medium);
    -webkit-box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.15) !important;

    .date-section {
      height: 15px;
      position: absolute;
      top: 5px;
      right: 0;
      font-size: 12px;
      color: color($colors, gray-extra-dark);

      span {
        margin-right: 2px;
      }

      ion-icon {
        @include vertical-center();
        color: color($colors, gray-extra-dark);
      }
    }

    .vertical-line {
      left: 0;
      top: 0;
      height: 90% !important;
      @include vertical-center();
      position: absolute !important;
    }

    .status-icon {
      font-size: 32px;
      @include center();
    }

    ion-card-header {
      padding: 24px 0px 6px 16px !important;
      font-size: 1.4rem !important;
      white-space: normal;
    }

    ion-card-content {
      padding-right: 0 !important;
      padding-bottom: 0 !important;

      ion-icon {
        font-size: 2.1rem !important;
        float: left;
        margin-right: 5px;

        &[class*="teaco-suggestion"] {
          font-size: 1.9rem !important;
        }
      }

      .horizontal-line {
        margin: 5px 0;
      }

      .progress-column {
        padding-right: 0 !important;
      }

      .counter {
        width: 40px !important;
        @include vertical-center();
        font-size: 1.3rem;
      }

      .vertical-line {
        margin: 0;
      }

      .progress-bar {
        @include box(100%, 8px);
        @include vertical-center();

        * {
          float: left;
        }

        .pending {
          height: 100% !important;
          background-color: color($colors, gray-medium);
        }
        .in-progress {
          height: 100% !important;
          background-color: color($colors, pending);
        }
        .voted {
          height: 100% !important;
          background-color: color($colors, ok);
        }
      }
    }
  }
}
