<!-- Generated template for the AddNewMeetingCardComponent component -->
<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col col-2>
        <ion-icon name="teaco-title"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <ion-input type="text" value="" placeholder="Titel" [(ngModel)]="titel"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col col-2>
        <ion-icon name="teaco-comments"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <ion-textarea placeholder="Enter a description" [(ngModel)]="comments"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col col-2>
        <ion-icon name="teaco-location"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <ion-input type="text" value="" placeholder="Ort" [(ngModel)]="location"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col col-2>
        <ion-icon name="teaco-calendar"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <ion-datetime placeholder="Datum" displayFormat="MMMM/DD/YYYY" [(ngModel)]="date"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col col-2>
        <ion-icon name="teaco-startTime"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <ion-datetime placeholder="Start Uhrzeit" displayFormat="HH:mm" [(ngModel)]="startTime"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col col-2>
        <ion-icon name="teaco-endTime"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <ion-datetime placeholder="Ende Uhrzeit" displayFormat="HH:mm" [(ngModel)]="endTime"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
