@import "../../theme/default.scss";

quick-vote {

  .quick-vote-section {
    @include box(80%, 50px);
    @include horizontal-center();
    display: flex;
    justify-content: space-between;

    .fab {
      @include vertical-center();
      width: 45px !important;
      height: 45px !important;
      position: relative;
      float: left;
      margin: 0 5px;
      box-shadow: none;
      border-width: 2px;
      border-style: solid;
      background-color: transparent;

      &.yes-voted {
        border-color: color($colors, yes);
        ion-icon {
          color: color($colors, yes);
        }
        &.selected {
          background: color($colors, yes);
        }
      }
      &.maybe-voted {
        border-color: color($colors, maybe);
        ion-icon {
          color: color($colors, maybe);
        }
        &.selected {
          background: color($colors, maybe);
        }
      }
      &.no-voted {
        border-color: color($colors, no);
        ion-icon {
          color: color($colors, no);
        }
        &.selected {
          background: color($colors, no);
        }
      }

      &.selected {
        ion-icon {
          color: #fff;
        }
      }
    }
  }
}
