@import '../../../../theme/default';

page-open-meetings-overview {
    ion-content {
        background-color: color($colors, gray-light) !important;

        ion-item-sliding {
            background-color: color($colors, gray-light) !important;
            margin: 0 !important;
            padding: 0 !important;

            ion-item {
                background-color: color($colors, gray-light);

                &, ion-label, .item-inner {
                    padding: 0 !important;
                    margin: 0 !important;
                    background-color: color($colors, gray-light);
                }
            }

            ion-item-options {
                height: calc(100% - 15px) !important;
                -webkit-box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.15) !important;
                box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.15) !important;
                background-color: #ffffff;

                button {
                    width: 75px !important;
                    text-transform: none !important;

                    ion-icon {
                        font-size: 3.5rem !important;

                        &[class*="teaco"] {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }

        .scroll-content {
            padding: 0 0px !important;
        }
    }
}
