<ion-header>
  <ion-navbar>
    <ion-title>
      Meetings Übersicht
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <p *ngIf="user != undefined ">
    Hallo, {{user.name}}<br />
    <br /> Deine E-mail: {{user.email}}<br /> Deine Konto wurde erstellt am: {{user.created_at.toLocaleDateString()}}<br
    />
  </p>
  
  <!-- For Loop: Load each Meeting for registered User-->
  <ion-card *ngFor="let meeting of meetings">
    <ion-grid>
      <ion-row>
        <!-- Status Icon-->
        <ion-col col-2 class="status">
          <ion-icon name="contact" class="icon-status"></ion-icon>

        </ion-col>
        <!-- Meeting Description with Title -->
        <ion-col col-10>
          <ion-card-header>
            <ion-row>
              <ion-col col class="title">
                <h1>{{meeting.title}}</h1>
              </ion-col>

              <ion-col col>
                <span class="createdDate">
                  Erstellt am: {{meeting.created_at | date: "dd.MM.yy"}}
                </span>
              </ion-col>
            </ion-row>
          </ion-card-header>

          <ion-card-content>
            <p class="main-text">Hier kommt der Text von Suggestions (Meeting Details)</p>
            <hr>

            <!-- Participants & Suggestions Status -->
            <ion-row>
              <ion-col col-4 class="">
                <ion-icon name="people" color="primary" class="icons-bottom"></ion-icon>
                <ion-note>{{meeting.participants.length}}</ion-note>

                <ion-icon name="calendar" color="primary" class="icons-bottom"></ion-icon>
                <ion-note>{{meeting.participants.length}}</ion-note>
              </ion-col>

              <!-- Voting Status Bar -->
              <ion-col col-6>
                <div class="container-bar">
                  <div class="votes-bar">Wählen</div>
                </div>
              </ion-col>

              <ion-col col-2>
                <ion-note>2/3</ion-note>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="addNewMeetingPage()">+</button>
  </ion-fab>

</ion-content>