<ion-card class="participants-card">
  <ion-row>
    <ion-col col-auto>
     <div class="header-icon-section">
       <ion-icon class="label-icon" name="teaco-participants" color="primary"></ion-icon>
     </div>
      <div class="vertical-line"></div>
    </ion-col>
    <ion-col class="content-col">
      <button ion-button id="show-details-button" (click)="emitOnAddClicked()">
        <ion-icon name="teaco-add-participants" color="light"></ion-icon>
      </button>
      <ion-scroll scrollX="true">
        <ion-row nowrap class="participants-list">
          <div class="spacer"></div>
          <div class="participant-item" *ngFor="let p of participants">
            <div class="participant-icon">
              <ion-icon name="teaco-user" color="primary"></ion-icon>
            </div>
            <div class="name-label">
              {{p.name || p.email}}
            </div>
          </div>
        </ion-row>
      </ion-scroll>
    </ion-col>
  </ion-row>
</ion-card>
