@import "../../../theme/default";

page-add-new-meeting {
    ion-content{
        background-color: color($colors, gray-light) !important;
    }

    ion-icon{
        color: color($colors, primary) !important;
        font-size: 2.4rem;
    }

    /* .item-inner{
        
    } */



    .datetime-ios{
        padding: 0 !important;
    }

    .btnSenden{
        width: 250px;
        margin: auto;
        margin-top: 6rem;
    }
}
