@import "../../../theme/default";

page-add-new-meeting {
    ion-content{
        background-color: color($colors, gray-light) !important;

        .participants-card {
            @include box(100%, 110px);
            margin-left: 0;
            margin-right: 0;

            .label-icon {
                margin-top: 20px !important;
                margin-left: 15px;
            }

            .col {
                padding: 0 !important;
            }

            ion-scroll {
                width: 100% !important;
                height: 100px !important;
                margin: 10px 0 !important;
                padding: 0 15px !important;
                white-space: nowrap;

                .scroll-content {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                }

                .participants-list {
                    @include box(100%, 100px);

                    .participant-item {
                        position: relative;
                        min-width: 75px;
                        @include box(75px, 120px);
                        white-space: normal;

                        .participant-icon {
                            @include box(50px, 50px);
                            @include horizontal-center();
                            background: color($colors, gray-light);
                            border: 1px solid color($colors, gray-medium);
                            border-radius: 50%;

                            ion-icon {
                                font-size: 3rem;
                                @include center();
                                background: color($colors, gray-dark);
                            }
                        }

                        .name-label {
                            overflow: hidden;
                            text-align: center;
                            margin-top: 5px;
                            font-size: 1.4rem;
                            max-height: 36px;
                        }
                    }

                    .spacer {
                        min-width: 60px;
                        width: 60px;
                        height: 100%;
                        position: relative;
                    }
                }
            }
        }

        #show-details-button {
            width: 50px;
            height: 50px;
            z-index: 999;
            position: absolute;
            left: -5;
            top: 7px;
            //top: calc(50% - 10px);
            //transform: translateY(-50%);
            border-radius: 50% !important;

            ion-icon {
                color: white !important;
            }
        }
    }

    ion-icon{
        color: color($colors, primary) !important;
        font-size: 2.4rem;
    }

    /* .item-inner{
        
    } */



    .datetime-ios{
        padding: 0 !important;
    }

    .btnSenden{
        width: 250px;
        margin: auto;
        margin-top: 6rem;
    }
}
