@import '../../../theme/default.scss';

page-meeting-detail {

  .action-button {
    @include box(100%, 55px);
    box-shadow: none;
    position: absolute !important;
    bottom: -4px !important;
    z-index: 200;
  }

  ion-header {
    #meeting-details-header {
      background-color: color($colors, primary);
      border-bottom: 1px solid color($colors, light);
      @include box(100%, auto);
      padding: 0 15px 10px 15px;

      &, * {
        color: #ffffff !important;
      }

      .horizontal-line {
        margin-top: 5px;
        margin-bottom: 10px;
      }

      .title-row {
        ion-col {
          &:first-of-type {
            max-width: 30px;
            width: 30px;

            ion-icon {
              font-size: 30px;
            }
          }

          &.divider {
            max-width: 1px;
            margin-right: 10px;
          }

          .meeting-title {
            font-size: 1.8rem;
            @include vertical-center();
          }
        }
      }

      .statistics-row {
        position: relative;

        ion-icon {
          text-align: center;
          font-size: 2.5rem;
          margin-bottom: 3px;
          @include horizontal-center();
        }

        ion-col {
          width: calc(100% / 3) !important;
          padding: 0 !important;

          &:nth-last-of-type(2) {
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
        }

        .stats-value {
          left: 4.0rem;
          text-align: center;
        }
      }
    }
  }

  ion-content {
    background-color: color($colors, gray-light) !important;

    #meetingDetailsSlides {
      .slide-zoom {
        @include box(100%, 100%);
        padding-bottom: 0 !important;
      }
    }

    #suggestions-list {
      width: 100% !important;
      height: calc(100% - 55px) !important;

      ion-item-sliding {
        background-color: color($colors, gray-light) !important;
        margin: 0 !important;
        padding: 0 !important;

        ion-item {
          background-color: color($colors, gray-light);

          &, ion-label, .item-inner {
            padding: 0 !important;
            margin: 0 !important;
            background-color: color($colors, gray-light);
          }
        }

        &:last-of-type {
          margin-bottom: 50px !important;
        }

        ion-item-options {
          height: calc(100% - 15px) !important;
          -webkit-box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.15) !important;
          background-color: #ffffff;

          button {
            width: 75px !important;
            text-transform: none !important;

            ion-icon {
              font-size: 3.5rem !important;

              &[class*="teaco"] {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }

    #participants-manager-section{
      background-color: white !important;
      @include box(100%, 100%);
      padding: 15px !important;
      position: relative !important;

      .scroll-zoom-wrapper {
        padding: 0 15px !important;
      }
    }

    #planning-status-list {
      @include box(100%, 100%);
      background-color: white;

      .scroll-content {
        padding: 0 !important;
      }

      ion-grid {
        padding: 0 !important;

        ion-row {
          &.participants-row, &.suggestions-row {
            margin-bottom: 4px !important;
          }

          &.self-user-row {
            .user-icon {
              border-color: color($colors, secondary) !important;
              ion-icon {
                color: color($colors, secondary);
              }
            }
            .name-label {
              font-weight: 500;
              color: color($colors, secondary);
            }
          }
        }

        .col {
          padding: 0 !important;
          position: relative;

          .vertical-line {
            margin: 0 0 0 5px !important;
          }

          .user-icon-column {
            border-top: 0.5px solid color($colors, gray-medium);
            width: 50px !important;

            .user-icon {
              @include box(36px, 36px);
              position: relative;
              border: 1px solid color($colors, gray-dark);
              border-radius: 50%;
              @include center();

              ion-icon {
                @include vertical-center();
                font-size: 1.8rem;
              }
            }
          }

          .header-placeholder-column {
            @include box(100%, 75px);
          }

          .participant-name-column {
            @include box(100%, 50px);
            border-top: 0.5px solid color($colors, gray-medium);
            text-align: left;
            overflow: hidden;
            padding: 0 5px !important;
            .name-label {
              @include vertical-center();
              font-size: 1.4rem;
            }
          }

          #suggestions-scroll {
            @include box(100%, 100%);
            white-space: nowrap;

            .header-row {
              width: 100% !important;
            }

            .suggestion-info-column {
              @include box(50px, 75px);
              margin-left: 4px;
              float:left;
              position: relative;
              min-width: 50px;

              .day {
                color: color($colors, primary);
                margin-bottom: 2px;
              }

              .binder {
                margin: -5px 0;
              }
            }

            .vote-column {
              @include box(50px, 50px);
              margin-left: 4px;
              border-top: 1px solid white;
              //border-bottom: 1px solid color($colors, gray-medium);

              &.teaco-voted-yes {
                background-color: lighten(color($colors, yes), 50%);
                color: color($colors, yes) !important;
                border: 1px solid color($colors, yes);
              }
              &.teaco-voted-no {
                background-color: lighten(color($colors, no), 50%);
                color: color($colors, no) !important;
                border: 1px solid color($colors, no);
              }
              &.teaco-voted-maybe {
                background-color: lighten(color($colors, maybe), 40%);
                color: color($colors, maybe) !important;
                border: 1px solid color($colors, maybe);
              }
              &.teaco-voted-dont-know {
                background-color: color($colors, gray-light);
                color: color($colors, gray-light);
                border: 1px solid color($colors, gray-medium);
              }

              ion-icon {
                @include vertical-center();
              }
            }
          }
        }
      }

      ion-item {
        &, .item-inner {
          border: none !important;
          padding: 0 !important;
          height: 60px !important;
          margin-bottom: 4px !important;

          .label {
            margin: 13px 0 13px 0 !important;
          }
        }

        ion-row {
          ion-col {
            padding: 0 !important;
          }

          //&:first-of-type {
          //  margin-top: 0 !important;
          //}

          &.self-user-row {
            .user-icon {
              border-color: color($colors, secondary);
              ion-icon {
                color: color($colors, secondary);
              }
            }
            .name-label {
              font-weight: 500;
              color: color($colors, secondary);
            }
          }
        }
      }
    }

    #createNewSuggestionButton {
      button {
        font-size: 3.0rem !important;
      }
    }

    .action-overlay {
      position: absolute;
      top: 0;
      z-index: 900;
      @include box(100%, 100%);
      background-color: #1e2126;
      visibility: hidden;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.1s;
      transition-duration: 0.1s;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);

      &.active {
        visibility: visible;
        opacity: 0.2;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
      }
    }

    .fab {
      bottom: 58px !important;
    }
  }
}

#finish_planning_section {
  @include box(100%, 463px);
  top: 100%;
  position: absolute;
  z-index: 1000 !important;
  background-color: white;
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;

  &.active {
    top: calc(100% - 463px) !important;
  }

  h5 {
    @include box(100%, 15px);
    margin: 15px 0;
    text-align: center;
  }

  .swiper-pagination-bullet-active {
    background-color: color($colors, primary) !important;
  }

  .slide-zoom {
    @include box(100%, 463px);
    padding-bottom: 0 !important;
  }

  .footer {
    @include box(100%, 75px);
    position: relative;
    background-color: color($colors, gray-light);
    border-top: 1px solid color($colors, gray-dark);

    #swipe-forward-button {
      @include horizontal-center();
      margin-top: 15px;
      position: absolute !important;
    }
  }

  ion-scroll {
    @include box(100%, calc(100% - 150px));
    overflow: hidden;

    ion-item {
      width: 100% !important;
      height: 80px !important;
      position: relative;

      &:last-of-type {
        .item-inner {
          border-bottom: none !important;
        }
      }

      &:first-of-type {
        .item-inner {
          border-bottom: 1px solid #c8c7cc !important;
        }
      }

      .suggestion-icon {
        font-size: 3rem;
        color: color($colors, gray-extra-dark);
        @include vertical-center();
      }

      .date-info {
        padding: 0 10px;
      }
    }
  }

  #location-input {
    ion-icon {
      margin-left: 6px !important;
      margin-right: -8px !important;
    }
  }

  #comment-input {
    overflow: hidden;
    .card, ion-textarea {
      height: 180px !important;
      max-height: 180px !important;
      overflow-y: hidden;

      textarea {
        height: 180px !important;
        max-height: 180px !important;
        overflow-y: auto !important;
      }
    }
    ion-icon {
      margin-left: 6px !important;
      margin-right: -1px !important;
    }
  }


  .card {
    box-shadow: none !important;
  }

  .finish-section {
    @include box(100%, 188px);
    background-color: color($colors, gray-light);
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    border-top: 1px solid color($colors, gray-dark);

    .actions {
      @include box(140px, 48px);
      @include horizontal-center();
      position: absolute !important;
      bottom: 20px !important;
    }
    .fab {
      float: left;
      margin: 0 10px;
      @include box(48px, 48px);

    }
  }
}
