<ion-header id="meeting-details-page-header">
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

  <section id="meeting-details-header">
    <ion-row class="title-row">
      <ion-col>
        <ion-icon name="teaco-meeting"></ion-icon>
      </ion-col>
      <ion-col class="divider">
        <div class="vertical-line"></div>
      </ion-col>
      <ion-col>
        <div class="meeting-title medium">{{(meeting | async)?.title}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="divider-row">
      <div class="horizontal-line"></div>
    </ion-row>
    <ion-row class="statistics-row">
      <ion-col>
        <ion-icon name="{{(meeting | async)?.progress.pending === 1 ? 'teaco-meeting-state-pending' :
          ((meeting | async)?.progress.completed === 1 ? 'teaco-meeting-state-voting-completed' : 'teaco-meeting-state-voting')}}"></ion-icon>
        <div class="stats-value light">
          <!--<span class="bold">Status</span><br />-->
          {{(meeting | async)?.progress.pending === 1 ? "noch nicht in Abstimmung" :
                ((meeting | async)?.progress.completed === 1 ? "alle Termine abgestimmt" : "Termine in Abstimmung")}}
        </div>
      </ion-col>
      <ion-col>
        <ion-icon name="teaco-participants"></ion-icon>
        <div class="stats-value light">
          <!--<span class="bold">Teilnehmer</span><br />-->
          {{(meeting | async)?.numberOfParticipants}}<br />Teilnehmer
        </div>
      </ion-col>
      <ion-col>
        <ion-icon name="teaco-suggestion"></ion-icon>
        <div class="stats-value light">
          <!--<span class="bold">Termine</span><br />-->
          {{(meeting | async)?.numberOfSuggestions}}<br />Termine
        </div>
      </ion-col>
    </ion-row>
  </section>
</ion-header>
<ion-content class="no-scroll" id="meeting-details-content">
  <loading-indicator></loading-indicator>
  <feedback-alert></feedback-alert>

  <ion-refresher (ionRefresh)="onRefreshMeeting($event)">
    <ion-refresher-content
            pullingIcon="arrow-round-down"
            pullingText="Terminvorschläge aktualisieren"
            refreshingSpinner="crescent"
            refreshingText="Aktualisiere Terminvorschläge ...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="action-overlay" #actionOverlay (click)="closeFinishPlanningActionSheet()"></div>

  <ion-scroll id="suggestions-list" scrollX="false" scrollY="true">
    <ion-list no-lines>
      <ion-item-sliding *ngFor="let suggestion of (meeting | async)?.suggestions; let i = index" #suggestionSlidingItem>
        <ion-item >
          <suggestion-card [suggestion]="suggestion" (click)="showSuggestionDetails(suggestion, i)"></suggestion-card>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="pickSuggestion(suggestion, i, suggestionSlidingItem)" text-wrap>
            <ion-icon name="{{suggestion.isPicked ? 'teaco-unpicked-suggestion' : 'teaco-picked-suggestion'}}"></ion-icon>
          </button>
          <button ion-button color="primary" (click)="deleteSuggestion(suggestion, i, suggestionSlidingItem)">
            <ion-icon name="md-trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-scroll>

  <button ion-button full
          id="finishPlanningButton" class="normalSize medium" color="primary"
          (click)="openFinishPlanningActionSheet()"
          [hidden]="(meeting | async)?.suggestionsCount == 0"
          [disabled]="pickedSuggestions.length == 0">
    Planung Abschließen
  </button>

  <ion-fab bottom right id="createNewSuggestionButton">
    <button ion-fab color="primary" (click)="goToNewSuggestionPage()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-slides pager="false" id="finish_planning_section" #finishPlanningActionSheet>
  <ion-slide>
    <h5>Terminplanung abschließen</h5>
    <p class="normalSize">
      Wähle bitte nachfolgend alle finalen Termine aus:
    </p>
    <ion-scroll scrollX="false" scrollY="true">
      <ion-item *ngFor="let suggestion of pickedSuggestions">
        <ion-label>
          <ion-row>
            <ion-col col-auto>
              <ion-icon class="suggestion-icon" name="teaco-meeting"></ion-icon>
            </ion-col>
            <ion-col class="date-info">
              <div class="normalSize medium">12.02.2019</div>
              <div class="normalSize light">10:00 - 18:00 Uhr</div>
            </ion-col>
           </ion-row>
        </ion-label>
        <ion-checkbox item-right name="user-result-checkbox" [checked]="suggestion.isPicked" (ionChange)="onPickStatusChange(suggestion)"></ion-checkbox>
      </ion-item>
    </ion-scroll>
    <div class="footer">
      <button id="swipe-forward-button" class="bold" ion-button clear color="primary" (click)="finishActionSheet.slideNext();">Weiter</button>
    </div>
  </ion-slide>
  <ion-slide>
    <input-card id="location-input" type="text-area" icon="teaco-location" placeholder="Gib eine Location an ..." (onChange)="onLocationEntered($event)" #locationInput></input-card>
    <input-card id="comment-input" type="text-area" icon="chatboxes" placeholder="Gib hier optional noch einen Kommentar ein ..." (onChange)="onCommentEntered($event)"></input-card>
    <div class="finish-section">
      <p class="normalSize medium">Alles soweit fertig?</p>
      <p class="normalSize light">Dann schließe deine Meeting-Planung jetzt ab</p>
      <div class="actions">
        <button ion-fab color="gray-extra-dark" (click)="closeFinishPlanningActionSheet()">
          <ion-icon name="teaco-voted-no"></ion-icon>
        </button>
        <button ion-fab color="primary" (click)="finishPlanning()" [disabled]="location.length == 0">
          <ion-icon name="teaco-voted-yes"></ion-icon>
        </button>
      </div>
    </div>
  </ion-slide>
</ion-slides>