@import '../../../theme/default';

page-suggestion-details {

  #suggestion-details-header {
    background-color: color($colors, primary);
    //border-bottom: 1px solid color($colors, light);
    @include box(100%, auto);
    padding: 0 15px 10px 15px;

    &, * {
      color: #ffffff !important;
    }

    .horizontal-line {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .title-row {
      ion-col {
        &:first-of-type {
          max-width: 30px;
          width: 30px;
          ion-icon {
            font-size: 30px;
          }
        }

        &:last-of-type {
          margin-right: -5px !important;
          ion-icon {
            font-size: 30px;
          }
        }

        &.divider {
          max-width: 1px;
          margin-right: 10px;
        }

        .suggestion-date {
          font-size: 1.8rem;
        }
        .suggestion-time {
          font-size: 1.4rem;
          padding-left: 2px;
        }
      }
    }
  }

  ion-content {
    &, .scroll-content {
      padding: 0 !important;
    }

    ion-scroll {
      @include box(100%, calc(100% - 110px));

      .scroll-content {
        padding: 0 !important;
      }

      ion-item {
        &, .item-inner {
          border: none !important;
          padding: 0 !important;
          height: 60px !important;
          margin-bottom: 4px !important;

          .label {
            margin: 13px 0 13px 0 !important;
          }
        }

        ion-row {
          ion-col {
            padding: 0 !important;
          }

          //&:first-of-type {
          //  margin-top: 0 !important;
          //}

          &.self-user-row {
            .user-icon {
              border-color: color($colors, secondary) !important;
              ion-icon {
                color: color($colors, secondary);
              }
            }
            .name-label {
              font-weight: 500;
              color: color($colors, secondary);
            }
          }
        }

        .user-icon-column {
          border-top: 0.5px solid color($colors, gray-medium);
          width: 50px !important;

          .user-icon {
            @include box(36px, 36px);
            position: relative;
            border: 1px solid color($colors, gray-dark);
            border-radius: 50%;
            @include center();

            ion-icon {
              @include center();
              font-size: 1.8rem;
            }
          }
        }
        .participant-column {
          border-top: 0.5px solid color($colors, gray-medium);
          .name-label {
            @include vertical-center();
            position: absolute !important;
            font-size: 1.5rem;

          }
        }

        .vote-status-column {
          margin-left: 4px;
          @include box(60px, 60px);
          border-top: 1px solid white;
          //border-bottom: 1px solid color($colors, gray-medium);

          &.teaco-voted-yes {
            background-color: lighten(color($colors, yes), 50%);
            color: color($colors, yes) !important;
            border: 1px solid color($colors, yes);
          }
          &.teaco-voted-no {
            background-color: lighten(color($colors, no), 50%);
            color: color($colors, no) !important;
            border: 1px solid color($colors, no);
          }
          &.teaco-voted-maybe {
            background-color: lighten(color($colors, maybe), 40%);
            color: color($colors, maybe) !important;
            border: 1px solid color($colors, maybe);
          }
          &.teaco-voted-dont-know {
            background-color: color($colors, gray-light);
            color: color($colors, gray-light);
            border: 1px solid color($colors, gray-medium);
          }

          ion-icon {
            @include center();
          }
        }
      }
    }

    #pick-suggestion-button {
      bottom: 70px !important;
    }

    #delete-suggestion-button {
      background-color: color($colors, primary);

      @include box(100%, 55px);
      box-shadow: none;
      margin: 0 !important;
      position: absolute;
      bottom: 0;

      ion-icon {
        margin-right: 5px;
        font-size: 2.4rem;
      }
    }
  }
}
