<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col col-auto>
        <div class="unit-label light" [hidden]="value.length == 0 || (inputType !== 'time' && inputType !== 'duration')">
          {{inputType == 'time' ? 'Uhr' : 'Stunden'}}
        </div>
        <div class="header-icon-section">
          <ion-icon name="{{iconName}}"></ion-icon>
        </div>
        <div class="vertical-line"></div>
      </ion-col>
      <ion-col class="content-col">
        <ion-item *ngIf="inputType == 'text'">
          <ion-input type="{{inputType}}" value="" placeholder="{{placeholder}}" [(ngModel)]="value" (change)="notify()"></ion-input>
        </ion-item>
        <ion-item *ngIf="inputType == 'text-area'">
          <ion-textarea [maxlength]="180" placeholder="{{placeholder}}" [(ngModel)]="value" (change)="notify()"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="inputType == 'date'">
          <ion-datetime placeholder="{{placeholder}}" displayFormat="DD.MM.YYYY" [(ngModel)]="value" (ngModelChange)="notify()"></ion-datetime>
        </ion-item>
        <ion-item *ngIf="inputType == 'time'">
          <ion-datetime placeholder="{{placeholder}}"
                        displayFormat="HH:mm"
                        minuteValues="{{minuteValuesFull}}"
                        [(ngModel)]="value"
                        (ngModelChange)="notify()"></ion-datetime>
        </ion-item>
        <ion-item *ngIf="inputType == 'duration'">
          <ion-datetime placeholder="{{placeholder}}"
                        displayFormat="HH:mm"
                        minuteValues="{{minuteValuesDuration}}"
                        min="{{minTime}}"
                        max="{{maxTime}}"
                        [(ngModel)]="value"
                        (ngModelChange)="notify()"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>